<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="IVT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <userSettings>
    <IVT.Properties.Settings>
      <setting name="verbsFilePath" serializeAs="String">
        <value />
      </setting>
      <setting name="infinitiveGap" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="preteritGap" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ppGap" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="translationGap" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="randomGaps" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="verbApparitionMode" serializeAs="String">
        <value>Random</value>
      </setting>
      <setting name="timerModeTiming" serializeAs="String">
        <value>00:05:00</value>
      </setting>
      <setting name="timerModeNumberOfVerbs" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="answerMode" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="availableChances" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="wonAddPoints" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="lostRemovePoints" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="passedRemovePoints" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="historical" serializeAs="String">
        <value />
      </setting>
    </IVT.Properties.Settings>
  </userSettings>
</configuration>